<% unless user == current_user %>
  <% if current_user.active_relationships.exists?(followed_id: user.id) %>
    <%= form_with model: @relationship, url: relationships_path, method: :delete, local: true do |f| %>
      <%= f.hidden_field :followed_id, value: user.id %>
      <div class='form-group'>
        <%= f.submit 'フォロー外す', class:"btn btn-primary" %>
      </div>
    <% end %>
    <% if (current_user.followed_by? user) && (user.followed_by? current_user) %>
    <% if @is_room == true %>
      <p><a href="/rooms/<%= @room_id %>">chat</a></p>
    <% else %>
      <%= form_with model: room do |r| %>
        <%= fields_for :entry do |e| %>
          <%= e.hidden_field :user_id, value: user.id %>
        <% end %>
        <%= r.submit 'chatを始める' %>
      <% end %>
    <% end %>
    <% end %>
  <% else %>
    <%= form_with model: @set_relationship, url: relationships_path,local: true do |f| %>
      <%= f.hidden_field :followed_id, value: user.id %>
      <div class='form-group'>
        <%= f.submit "フォローする", class:"btn btn-success" %>
      </div>
    <% end %>
  <% end %>
<% end %>